# Gitlab
GITLAB_USERNAME=your@email.com
GITLAB_PERSONAL_TOKEN=xxx
GITLAB_HOST=https://my.host
GITLAB_URL_PREFIX=/api/v4
GITLAB_DOCKER_HOST=xxx.xxx.fr

# Aws
AWS_ACCESS_KEY_ID=xxx
AWS_SECRET_ACCESS_KEY=xxx
AWS_DEFAULT_REGION=eu-west-3

LOG_FILE=/var/log/gitlab-to-ecr.log

https://gitlab.com/2ndwatch/applications/git-repo-scan-service



sudo docker cp 33d1e75f2838:/var/log/gitlab-to-ecr.log .